
<app-user-list-component></app-user-list-component>
<!-- Hello World<br><br>

Id:{{user.id}}<br>
Name:{{user.Name}}<br>
Email:{{user.Email}}<br>

<br><br>
  <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
       <div>
          <label for = "id">ID</label>
          <input type = "text" id = "id" [(ngModel)] = "user.id" name = "id">
       </div>
       <div>
          <label for = "name">Name</label>
          <input type = "text" id = "name" [(ngModel)] = "user.Name" name = "name">
       </div>
        <div>
          <label for = "age">Email</label>
          <input type = "text" id = "age" [(ngModel)] = "user.Email" name = "age">
       </div>
       
    </form> -->

<!-- <p>
 <a [routerLink] = "['/']">DASHBOARD</a>

</p>

<a [routerLink] = "['/users']">User List</a> <br><br>

<router-outlet>

</router-outlet>

<h3>API Data</h3>
<div class="grid grid-pad">
<table border="1px">
  <tr *ngFor="let hero of users"  class="col-1-4">
 
      <td>{{hero.id}}</td><td><h4>{{hero.Name}}</h4></td><td><h4>{{hero.Email}}</h4></td>
    
  </tr>
 
 </table>
</div> -->